* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #cccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box {
  width: 22vw;
  height: 30vh;
  background-color: blueviolet;
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid;
}

.result {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
